@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
.main {
  background-image: url("../media/Background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -30px;
  max-width: 1920px;
  position: absolute;
  height: 100%;
  width: 100%;
  box-shadow: inset 0 340px 90px 120px rgba(0, 0, 0, 0.47);
  font-family: 'Josefin Sans', sans-serif;
}

.main__navigation {
  width: 50%;
  margin: 0 auto;
  margin-top: 40px;
}

.main__navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main__navigation li {
  flex: 1;
  text-transform: uppercase;
  font-weight: 400;
}

.main__navigation a {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 20px 5px;
  display: inline-block;
  width: 90%;
  text-align: center;
}

.main__navigation a:hover {
  text-decoration: underline;
}

.main__title {
  margin: 12% auto;
  text-align: center;
}

.main__title .main__title__text {
  font-family: 'Lobster', cursive;
  font-size: 85px;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}

.main__title .main__title__button {
  color: white;
  text-transform: uppercase;
  padding: 20px 70px;
  border-radius: 80px;
  border: 0;
  background-image: linear-gradient(to right, #d8bf6f 0%, #d6b23f 51%, #cda628 100%);
}

.main__title .main__title__button:hover {
  cursor: pointer;
}

.main__footer {
  position: absolute;
  bottom: 0;
  height: 6vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.main__footer .main__footer__copyright {
  font-size: 15px;
  text-transform: uppercase;
  order: 1;
}

.main__footer .main__footer__links {
  order: 2;
}

.main__footer .main__footer__links a {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding: 15px;
  letter-spacing: 2px;
}

.main__footer .main__footer__signature {
  order: 3;
}

.main__footer .main__footer__signature a {
  color: white;
  text-decoration: none;
  font-weight: 400;
}

.main__footer a:hover {
  text-decoration: underline;
}

.main__popup--shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__popup__container {
  background-color: white;
  width: 20%;
  min-width: 350px;
  padding: 20px 10px 40px 10px;
  text-align: center;
}

.main__popup__container .main__popup__container__form__title {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
}

.main__popup__container .main__popup__container__form__message--error {
  display: none;
}

.main__popup__container .main__popup__container__form__input-group input {
  text-align: center;
  width: 75%;
  margin-top: 30px;
  margin-bottom: 20px;
  border: 0px;
  border-bottom: 1px solid black;
  padding-top: 10px;
  padding-bottom: 10px;
  letter-spacing: 1px;
}

.main__popup__container .main__popup__container__form__button-login {
  width: 75%;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 2px;
  color: white;
  text-transform: uppercase;
  padding: 15px;
  margin-top: 30px;
  border-radius: 80px;
  border: 0;
  background-image: linear-gradient(to right, #d8bf6f 0%, #d6b23f 51%, #cda628 100%);
}

.main__popup__container .main__popup__container__form__button-login:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

@media screen and (max-width: 1250px) {
  .main__navigation {
    width: 100%;
  }
}

@media screen and (max-width: 740px) {
  .main__footer {
    height: 12vh;
    flex-direction: column;
  }
  .main__footer .main__footer__copyright {
    order: 3;
  }
  .main__footer .main__footer__links {
    order: 1;
  }
  .main__footer .main__footer__signature {
    order: 2;
  }
}

@media screen and (max-width: 570px) and (min-width: 320px) {
  .main__navigation {
    width: auto;
    margin: auto;
  }
  .main__navigation ul {
    display: flex;
    flex-direction: column;
  }
  .main__navigation ul .main-logo {
    order: -1;
  }
  .main__title .main__title__text {
    letter-spacing: 0;
    margin-top: -40px;
  }
  .main__popup__container {
    width: 60%;
    min-width: 280px;
  }
}
